.rightMenu1 {
    &-content {
        display: flex;
        flex-direction: column;
        padding: 0 18px;
        &-profile {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-img {
            width: 4rem;
            margin: 0.5rem;
        }
        &-name {
            margin-top: 0 !important;
        }
    }
}
